@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'work';
    src: url(../fonts/work-sans/WorkSans-Medium.ttf);
}

@font-face {
    font-family: 'work-bold';
    src: url(../fonts/work-sans/WorkSans-SemiBold.ttf);
}

@font-face {
    font-family: 'ones';
    src: url(../fonts/onest/Onest-Medium.ttf);
}

.fundo2 {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;

}


.grid-procurados {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    /* Duas colunas de igual largura */
    grid-template-rows: repeat(1, 200px);
    /* Altura automática para as linhas */
    gap: 10px
}


.card11 {
    position: relative;
    left: 200px;
    top: 120px;
    height: 330px;
    width: 340px;
    border: 1px solid black;
    border-radius: 25px;
    grid-column: 1 / 1;
    background-image: url(../img/sem_foto.png);
    background-size: 540px;
    background-position: center;
}

.card22 {
    position: relative;
    top: 90px;
    right: 110px;
    height: 480px;
    width: 500px;
    border-radius: 20px;
    grid-column: 2 / 2;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card22>h4 {
    position: relative;
    
    left: 90px;
    height: 40px;
    width: 300px;
    padding: 10px;
    background-color: #0E6ABE;
    border-radius: 20px;
    font-family: 'work';
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* botao cancelar */
.cancelar2 {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #0E6ABE;
    color: #ffff;
    position: relative;
    top: 50px;
    left: 70px;
    text-decoration: none;
    text-align: center;
    font-style: 'work';
}

.cancelar2:hover {
    background-color: #EEF0F1;
    transition: 1s;
    color: #0E6ABE;
}

/* botao enviar */
.enviar2{
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #0E6ABE;
    color: #ffff;
    position: relative;
    top: 50px;
    left: 200px;
    text-decoration: none;
    text-align: center;
    font-style: 'work';
}

.enviar2:hover {
    background-color: #EEF0F1;
    transition: 1s;
    color: #0E6ABE;
}

.botao2 {
    padding: 10px 0 10px 50px;
    border-radius: 10px;
    background-color: #0E6ABE;
    color: #ffff;
    position: relative;
    top: 480px;
    right: 280px;
    width: 280px;
    height: 50px;
    text-decoration: none;
    font-style: 'work';
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.botao2:hover {

    transition: 1s;
    transform: scale(1.1)
}

/*  caixas de textos, organização deles */
.grupo11 textarea {
    height: 40px;
    width: 90px;
    border-radius: 10px;
    position: relative;
    top: 15px;
    margin: 5px;
}

.grupo11 label {
    margin: 5px 5px 5px 10px;
}

.grupo22 textarea {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    position: relative;
    top: 10px;
}

.grupo22 label {
    margin: 5px 5px 5px 10px;
}

.grupo33 textarea {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin: 0 0 0 5px;
    position: relative;
    top: 10px;
}

.grupo33 label {
    margin: 5px 5px 5px 10px;
}

.grupo44 textarea {
    height: 80px;
    width: 450px;
    border-radius: 10px;
    display: flex;
    margin: 0 0 0 20px;
}

.grupo44 label {
    margin: 10px 0 0 20px;
}

.card22>strong {
    color: #0E6ABE;
}

.card22>textarea {
    background-color: #EEF0F1;
    border: 1px #EEF0F1;
    ;
    padding: 10px 0 0 10px;
}